#Q1

In [ ]:
list1 = []
for i in range(10): 
  li  = int(input("Enter Your number : "))
  if li%2==0:
    list1.append(li)
print(list1)

Enter Your number : 2
Enter Your number : 5
Enter Your number : 4
Enter Your number : 6
Enter Your number : 1
[2, 4, 6]

#Q2

In [ ]:
list1 = [10,35,45,63,28,73]
list2 = []
for i in list1:
  if i>35:
    list2.append(i)
print(list2)

[45, 63, 73]

#Q3

In [ ]:
dic1 = {}
n = int(input())
for i in range(1,n+1):
  dic1[i]=i*i
print(dic1)

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

#Q4

In [ ]:
import math
u = int(input("UP"))
d = int(input("DOWN"))
l = int(input("LEFT"))
r = int(input("RIGHT"))
x = abs(u-d)
y = abs(l-r)
res = math.sqrt(x**2+y**2)
print(int(res))

UP5
DOWN3
LEFT3
RIGHT2
2